<p-progressBar mode="indeterminate" *ngIf="showProgressBar"></p-progressBar>
<p-messages styleClass="error-msg"></p-messages>
<div class="p-col-12 p-md-6">
  <div class="card card-min-height">

    <!-- Row - TextHeader -->
    <h1>גליון חיסוני כלבת</h1>
    <form [formGroup]="rabiesListForm">
      <!-- Row -->
      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12 p-md-3">
          <label for="fromDate">מתאריך:</label>
          <input id="fromDate" type="date" class="p-inputtext p-component html5-calendar" pInputText formControlName="fromDate" min="1900-01-01" max="2049-01-01">
          <small id="fromDate-help" *ngIf="fromDate.invalid && rabiesListForm.touched" class="ng-invalid ng-dirty">שגיאה: השדה אינו תקין!</small>
        </div>
        <div class="p-field p-col-12 p-md-3">
          <label for="toDate">עד תאריך:</label>
          <input id="toDate" type="date" class="p-inputtext p-component html5-calendar" pInputText formControlName="toDate" min="1900-01-01" max="2049-01-01">
          <small id="dateOfBirth-help" *ngIf="toDate.invalid && rabiesListForm.touched" class="ng-invalid ng-dirty">שגיאה: השדה אינו תקין!</small>
        </div>

        <div class="p-field p-col-12 p-md-2">
          <label>&nbsp;</label>
          <p-button label="בצע" styleClass="p-button-success"
                    (click)="getRabiesListByDate()" [disabled]="!rabiesListForm.valid"></p-button>
        </div>

        <div class="p-field p-col-12 p-md-3">
          <label>&nbsp;</label>
          <p-button label="הדפס" icon="pi pi-print" iconPos="left" styleClass="p-button-secondary"
                    (click)="printRabiesListByDate()" [disabled]="!rabiesListForm.valid"></p-button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="p-grid" *ngIf="showTable">
  <div class="p-col">
    <p-card>
        <p-table [value]="rabiesList" selectionMode="single" styleClass="rabies-list-by-date-print-table">
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 50px;">מס'</th>
              <th style="width: 100px;">ת.חיסון</th>
              <th style="width: 100px;">ת.ז.</th>
              <th style="width: 150px;">שם הבעלים</th>
              <th style="width: 200px;">כתובת</th>
              <th style="width: 100px;">טלפון</th>
              <th style="width: 100px;">שם</th>
              <th style="width: 120px;">גזע</th>
              <th style="width: 80px;">מין</th>
              <th style="width: 100px;">ת.לידה</th>
              <th style="width: 90px;">צבע</th>
              <th style="width: 150px;">מס' שבב</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item let-i="rowIndex">
            <tr (click)="itemSelected(item)">
              <td>{{i+1}}</td>
              <td>{{item.visit.visitTime | date:'dd/MM/yyyy'}}</td>
              <td>{{item.owner.idNumber}}</td>
              <td>{{item.owner.lastName}} {{item.owner.firstName}}</td>
              <td>{{item.owner.street}} {{item.owner.houseNumber}}/{{item.owner.apartmentNumber}}</td>
              <td>{{item.owner.phone}}</td>
              <td>{{item.animal.name}}</td>
              <td>{{item.animal.breed}}</td>
              <td>{{item.animal.gender}}</td>
              <td>{{item.animal.dateOfBirth | date:'dd/MM/yyyy'}}</td>
              <td>{{item.animal.color}}</td>
              <td>{{item.animal.chipNumber}}</td>
            </tr>
          </ng-template>
        </p-table>
      <app-empty-list-error *ngIf="rabiesList.length==0"></app-empty-list-error>
    </p-card>
  </div>
</div>



