<p-progressBar mode="indeterminate" *ngIf="showProgress"></p-progressBar>
<p-messages styleClass="error-msg"></p-messages>
<form [formGroup]="form">
  <div class="p-col-12 p-md-4">
    <div class="card card-min-height">
      <!-- Row - TextHeader -->
      <h3>דו"ח בע"ח שכן ביקרו ב-{{numOfDays}} ימים האחרונים</h3>
      <!-- Row -->
      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12 p-md-4">
          <label for="numOfDays">מספר ימים:</label>
          <input id="numOfDays" type="text" class="p-inputtext p-component" pInputText formControlName="numOfDays">
          <small id="numOfDays-help" *ngIf="numOfDays.invalid && form.touched" class="ng-invalid ng-dirty">שגיאה: השדה אינו תקין!</small>
        </div>
        <div class="p-field p-col-12 p-md-2">
          <label>&nbsp;</label>
          <p-button label="בצע" styleClass="p-button-success"
                    (click)="getVisitedListByNumOfDays()" [disabled]="!form.valid"></p-button>
        </div>
        <div class="p-field p-col-12 p-md-3">
          <label>&nbsp;</label>
          <p-button label="הדפס" icon="pi pi-print" iconPos="left" styleClass="p-button-secondary"
                    (click)="printRabiesListByDate()" [disabled]="!form.valid"></p-button>
        </div>
      </div>
    </div>
  </div>
</form>
<div class="p-grid" *ngIf="showTable">
  <div class="p-col">
    <p-card>
      <p-table [value]="visitedOwnersList" selectionMode="single" styleClass="rabies-list-by-date-print-table">
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 50px;">מס'</th>
            <th style="width: 100px;">ת.ביקור אחרון</th>
            <th style="width: 100px;">מס' ימים</th>
            <th style="width: 150px;">שם הבעלים</th>
            <th style="width: 200px;">כתובת</th>
            <th style="width: 100px;">טלפון</th>
            <th style="width: 100px;">שם</th>
            <th style="width: 120px;">גזע</th>
            <th style="width: 120px;">צבע</th>
            <th style="width: 80px;">מין</th>
            <th style="width: 100px;">עיקור</th>
            <th style="width: 150px;">מס' שבב</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-i="rowIndex">
          <tr (click)="itemSelected(item)" class="mouse-pointer">
            <td>{{i+1}}</td>
            <td>{{item.visitTime | date:'dd/MM/yyyy'}}</td>
            <td>{{item.numOfDaysPassed}}</td>
            <td>{{item.lastName}} {{item.firstName}}</td>
            <td>{{item.street}} {{item.houseNumber}}/{{item.apartmentNumber}}</td>
            <td>{{item.phone}}</td>
            <td>{{item.name}}</td>
            <td>{{item.breed}}</td>
            <td>{{item.color}}</td>
            <td>{{item.gender}}</td>
            <td>{{(item.sterilized) ? 'מעוקר' : 'לא'}}</td>
            <td>{{item.chipNumber}}</td>

          </tr>
        </ng-template>
      </p-table>
      <app-empty-list-error *ngIf="visitedOwnersList.length==0"></app-empty-list-error>
    </p-card>
  </div>
</div>




