<p-progressBar mode="indeterminate" *ngIf="showProgress"></p-progressBar>
<p-messages styleClass="error-msg" *ngIf="!pageIsLoaded"></p-messages>
<div class="grid-container" *ngIf="pageIsLoaded">
  <p-toast styleClass="toast-msg" key="showSaveChanges" position="top-left"
           [showTransitionOptions]="'10ms'" [hideTransitionOptions]="'10ms'" [preventOpenDuplicates]="true"></p-toast>
  <p-messages styleClass="error-msg"></p-messages>
  <p-confirmDialog header="Confirmation"
                   acceptButtonStyleClass="confirmDialogAcceptButton" rejectButtonStyleClass="confirmDialogRejectButton"></p-confirmDialog>
  <div class="content-section introduction">
    <div class="feature-intro">
      <h1>{{h1Header}}</h1>
      <span>{{h1Description}}</span>
    </div>
  </div>

  <div class="content-section implementation">
    <div class="card page-content-header">
      <div>
        <h3>בע&quot;ח:  {{followupPage.animal.name}}</h3>
        <span class="file-number-header">מספר בע"ח: {{followupPage.animal.animalId}}</span>
        <span class="p-d-block"><a [routerLink]="['/animal', followupPage.animal.animalId]" class="text-muted underline">בע&quot;ח:  {{followupPage.animal.name}}</a></span>
        <span class="animal-name-header"><a [routerLink]="['/owner', followupPage.owner.ownerId]" class="text-muted underline">בעלים: {{followupPage.owner.lastName}} {{followupPage.owner.firstName}}</a></span>
      </div>
      <div>
        <p-menubar [model]="menuItems"></p-menubar>
      </div>
    </div>
  </div>
  <div class="content-main p-formgrid p-grid p-fluid p-jc-center">
    <div class="p-lg-6 p-md-6">
      <div class="card">

        <!-- Row - TextHeader -->
        <h5 *ngIf="addNewOpened">הוספת רשומה חדשה</h5>
        <div class="p-grid p-jc-end" *ngIf="!addNewOpened">
          <div class="p-col-12">
            <p-button label="הוסף חדש" icon="pi pi-plus" iconPos="right" class="float-left p-button-sm" (onClick)="showAddNewRow()"></p-button>
          </div>
        </div>

        <!-- Row - ADD New -->
        <form [formGroup]="addNewRowForm">
          <div class="p-fluid p-formgrid p-grid" *ngIf="addNewOpened">
            <div class="p-field p-lg-4 p-md-4 p-sm-12">
              <label for="date">תאריך:</label>
              <input id="date" type="date" class="p-inputtext p-component html5-calendar" pInputText formControlName="date" min="1900-01-01" max="2049-01-01">
              <small id="date-help" *ngIf="date.invalid" class="ng-invalid ng-dirty">שגיאה: השדה אינו תקין!</small>
            </div>
            <div class="p-field p-lg-4 p-md-4 p-sm-12">
              <label for="cause">סיבת מעקב:</label>
              <textarea id="cause" pInputTextarea formControlName="cause" [rows]="1" [cols]="30" pInputTextarea [autoResize]="true"
                        maxlength="100" spellcheck="false"></textarea>
              <small id="cause-help" *ngIf="cause.invalid" class="ng-invalid ng-dirty">שדה חובה!</small>
            </div>
            <div class="p-field p-lg-2 p-md-2 p-sm-12">
              <label>&nbsp;</label>
              <button (click)="onAddFollowup()" [disabled]="addNewRowForm.invalid"
                      class="p-button-success p-ripple p-button p-component" pButton pRipple type="button" label="הוסף" icon="pi pi-check" iconPos="right"></button>
            </div>
          </div>
        </form>

        <!-- Row - Table -->
        <div class="p-fluid p-formgrid p-grid">
          <div class="p-field plg-12 p-md-12 p-sm-12">
            <form [formGroup]="tableForm">
              <p-table [value]="followupsArray.controls" selectionMode="single" dataKey="value.id" styleClass="p-datatable-striped"
                       [scrollable]="true" scrollHeight="400px" editMode="row" [rowTrackBy]="trackByFn">
                <ng-template pTemplate="header">
                  <tr>
                    <th>תאריך</th>
                    <th>סיבת מעקב</th>
                    <th>טופל</th>
                    <th></th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item let-editing="editing" let-ri="rowIndex" formArrayName="followupsArray">
                  <tr [pEditableRow]="item" [formGroup]="item">

                    <td pEditableColumn [pEditableColumnDisabled]="true">
                      <p-cellEditor>
                        <ng-template pTemplate="input">
                          <input type="date" class="p-inputtext p-component html5-calendar" pInputText formControlName="date" min="1900-01-01" max="2049-01-01">
                        </ng-template>
                        <ng-template pTemplate="output">
                          {{tableFormGetArrayControl(ri).controls.date.value | date:'dd/MM/yyyy'}}
                        </ng-template>
                      </p-cellEditor>
                    </td>

                    <td pEditableColumn [pEditableColumnDisabled]="true">
                      <p-cellEditor>
                        <ng-template pTemplate="input">
                          <textarea pInputTextarea formControlName="cause" [rows]="1" [cols]="30" pInputTextarea [autoResize]="true"
                                    maxlength="100" spellcheck="false"></textarea>
                        </ng-template>
                        <ng-template pTemplate="output">
                          {{tableFormGetArrayControl(ri).controls.cause.value | shortString: 60}}
                        </ng-template>
                      </p-cellEditor>
                    </td>
                    <td pEditableColumn [pEditableColumnDisabled]="true">
                      <p-cellEditor>
                        <ng-template pTemplate="input">
                          <p-checkbox formControlName="status" [binary]="true"></p-checkbox>
                        </ng-template>
                        <ng-template pTemplate="output">
                          <p-checkbox [formControl]="tableFormGetArrayControl(ri).controls.status" [disabled]="true" [binary]="true"></p-checkbox>
                        </ng-template>
                      </p-cellEditor>
                    </td>
                    <td style="text-align:center">
                      <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                              (click)="onRowEditInit(item)" class="p-button-rounded p-button-text" title="עריכה"></button>
                      <button *ngIf="editing" [disabled]="tableFormGetArrayControl(ri).invalid" pButton pRipple type="button"
                              pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(item)"
                              class="p-button-rounded p-button-text p-button-success p-mr-2"  title="שמירת שינויים"></button>
                      <button *ngIf="editing" [disabled]="tableFormGetArrayControl(ri).invalid" pButton pRipple type="button"
                              pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(item, ri)"
                              class="p-button-rounded p-button-text p-button-danger" title="מחיקה"></button>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </form>
            <p-progressBar mode="indeterminate" *ngIf="!tableDataLoaded"></p-progressBar>
            <app-empty-list-error *ngIf="followupPage.followUpsList.length==0"></app-empty-list-error>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
