<div>
  <div class="pr-re-table-header p-mb-2">
    <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input type="text" class="p-inputtext p-component" pInputText placeholder="חיפוש" (input)="searchInputOnChange($event)"/>
    </span>
  </div>
  <table class="fixed_header">
    <thead>
    <tr class="pr-re-table-tr">
      <th>סמן</th>
      <th>טיפול</th>
      <th>ימים</th>
      <th>טיפול הבא</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let treatment of filteredPreventiveTreatmentsList" class="pr-re-table-tr">
      <td>
        <p-checkbox [value]="treatment" ngDefaultControl [(ngModel)]="selectedTreatments"
                    (ngModelChange)="changeCheck($event)"></p-checkbox>
      </td>
      <td>{{treatment.name}}</td>
      <td class="ltr-number-fix">{{treatment.remainingNumOfDays.toString()}}</td>
      <td>{{treatment.nextTreatmentName}}</td>
    </tr>
    </tbody>
  </table>
  <div class="p-grid text-align-center">
    <div class="p-col">
      <button pButton pRipple type="button" label="הוסף" class="p-button-success p-mt-4"
              (click)="onAddPreventiveTreatments()" [disabled]="(selectedTreatments.length===0)"
              *ngIf="filteredPreventiveTreatmentsList.length!=0"></button>
      <app-empty-list-error *ngIf="filteredPreventiveTreatmentsList.length==0"></app-empty-list-error>
    </div>
  </div>
</div>