<div class="print-content">
  <div class="p-grid text-align-center">
    <div class="p-col-12">
      <h3>{{reportH1Title}}</h3>
    </div>
  </div>
  <div class="p-grid">
    <div class="p-col" style="display: inline">
      <p>אני, הח"מ {{animalPage.animalOwner.lastName}} {{animalPage.animalOwner.firstName}}. ת.ז {{animalPage.animalOwner.idNumber}} </p>
      <p>בכתובת: {{animalPage.animalOwner.street}} {{animalPage.animalOwner.houseNumber}}/{{animalPage.animalOwner.apartmentNumber}}, {{animalPage.animalOwner.city}}. טלפון: {{animalPage.animalOwner.phone}}.</p>
      <p>הבעלים של הכלב שפרטיו הם:</p>
    </div>
  </div>
  <div class="p-grid">
    <div class="p-col-fixed" style="width: 80px;"><label>שם בע"ח:</label></div>
    <div class="p-col-fixed" style="width: 100px;"><p>{{animalPage.animal.name}}</p></div>
    <div class="p-col-fixed" style="width: 95px;"><label>מין:</label></div>
    <div class="p-col-fixed" style="width: 100px;"><p>{{animalPage.animal.gender}}</p></div>
  </div>
  <div class="p-grid">
    <div class="p-col-fixed" style="width: 80px;"><label>גזע:</label></div>
    <div class="p-col-fixed" style="width: 100px;"><p>{{animalPage.animal.breed}}</p></div>
    <div class="p-col-fixed" style="width: 95px;"><label>מס' שבב:</label></div>
    <div class="p-col-fixed" style="width: 100px;"><p>{{animalPage.animal.chipNumber | shortString: 60}}</p></div>
  </div>
  <div class="p-grid">
    <div class="p-col-fixed" style="width: 80px;"><label>צבע:</label></div>
    <div class="p-col-fixed" style="width: 100px;"><p>{{animalPage.animal.color}}</p></div>
    <div class="p-col-fixed" style="width: 95px;"><label>תאריך לידה:</label></div>
    <div class="p-col-fixed" style="width: 100px;"><p>{{animalPage.animal.dateOfBirth | date:"dd/MM/yyyy"}}</p></div>
  </div>
  <div class="p-grid">
    <div class="p-col" style="display: inline">
      <p><b>האם הכלב מסוכן: כן / לא</b></p>
    </div>
  </div>
  <div class="p-grid p-mt-2">
    <div class="p-col">
      <p>הרני לאשר כי בתאריך <span class="form-value"><b>{{currentDate | date:"dd/MM/yyyy"}} </b></span>חיסנתי את בע"ח שפרטיו רשומים מעלה בחיסון נגד מחלת הכלבת.</p>
    </div>
  </div>
  <div class="p-grid owner-declaration p-mt-2">
    <div class="p-col">
      <ol>
        <li>אני מצהיר כי כל הפרטים שרשמתי לעיל הם נכונים ומדוייקים.</li>
        <li><b>הורשעתי / לא הורשעתי</b> בעבירות לפי חוק להסדרת הפיקוח על הכלבים, לפי חוק צער בעלי חיים או לפי סעיפים 338 (6) ו־451 לחוק העונשין, התשל"ז-1977 (סעיף התעללות בבעלי חיים).</li>
        <li>אני נותן בזה את הסכמתי, לפי סעיף 6 לחוק המרשם הפלילי ותקנת השבים, התשמ"א 1981 (להלן-חוק המרשם) שהמשטרה תמסור עלי מידע מן המרשם לעניין עבירות כאמור בסעיף זה.</li>
        <li>אני מצהיר בזה שלמיטב ידיעתי כלבי לא נשך אדם במהלך עשרת הימים האחרונים</li>
      </ol>
    </div>
  </div>
  <div class="p-grid confirmation-sign">
    <div class="p-col-4">
      <p>{{currentDate | date:"dd/MM/yyyy"}}</p>
      <hr>
      <p>תאריך חיסון</p>
    </div>
    <div class="p-col-4">
      <p>&nbsp;</p>
      <hr>
      <p>חותמת וטרינר</p>
    </div>
    <div class="p-col-4">
      <p>&nbsp;</p>
      <hr>
      <p>חתימת בעלים</p>
    </div>
  </div>
</div>
