<table>
  <thead>
    <tr>
      <td>
        <div class="header-space">&nbsp;</div>
      </td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <div class="content"><router-outlet></router-outlet></div>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td>
        <div class="footer-space">&nbsp;</div>
      </td>
    </tr>
  </tfoot>
</table>
<div class="header">
  <div class="p-grid">
    <div class="p-col-12">
      <p class="header-date">{{currentDate | date:"dd/MM/yyyy"}}</p>
    </div>
  </div>
  <div class="p-grid">
    <div class="p-col-8">
    </div>
    <div class="p-col-4">
      <img class="header-logo" src="./assets/print/logo-print.png"/>
    </div>
  </div>
</div>
<div class="footer">
  <div class="p-grid p-jc-center">
    <p class="address">
    </p>
    &nbsp;
    <p class="website">
      <i class="pi pi-facebook"></i>
    </p>
  </div>
</div>




